* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*root : sudo elements 
62.5 % = 10 px
*/
:root {
  --primary-color: hsla(232, 17%, 35%, 1);
  --second-color: hsla(218, 17%, 62%, 1);
  --tree-color: hsla(275, 18%, 79%, 1);
  --four-color: hsla(312, 91%, 96%, 1);
  --six-color: hsla(233, 100%, 97%, 1);
  --seven-color: hsla(274, 84%, 12%, 1);
  font-size: 62.5%;
}
body {
  width: 384px;
  margin: 0 auto;
  height: 1995px;
  /* border: 1px solid rgb(125, 5, 5); */
  background-color: hsla(233, 100%, 97%, 1);
}
.page {
  display: flex;
  flex-direction: column;
  gap: 6.3rem;
  max-width: 38.4rem;
  margin: 0 auto;
}

main {
  align-items: center;
  margin: 0 auto;

  animation: downtop 700ms 350ms reverse backwards;
}
/*
--- Transições com TRANSFORM E TRANSITION------

  transition-property: transform;
  transition-duration: 200ms;
  transition-delay: 1s;
  transition-timing-function: ease;

transition: transform 200ms 1s;
transition: all 200ms 1s;

*/

#logo {
  padding-top: 3.2rem;
  margin: 0 auto;

  display: flex;
  transition: transform 200ms;
}
#logo:hover {
  transform: scale(1.1);
}
.title::before {
  background-color: hsla(218, 17%, 62%, 1);
  width: 100%;
  height: 27.9rem;

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  margin: 0 auto;
}
.page header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  font-family: 'Staatliches', cursive, sans-serif;
  align-items: center;
  margin: 0 auto;

  animation: topdown 700ms ease backwards;

  /* border: 1px solid rgb(46, 10, 144);*/
}
main,
section p {
  font-family: 'Palanquin', sans-serif;
}
.page header .title {
  background: var(--tree-color);
  height: 4.9rem;
  max-width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 0.8rem 8.6rem;
  cursor: pointer;
}

.title h1 {
  font-family: 'Staatliches', sans-serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  color: white;

  padding-top: 0.8rem 8.6rem;

  transition: transform 200ms;
}
.title h1:hover {
  transform: scale(0.9);
}
.text p {
  color: var(--seven-color);

  padding-top: 1.4rem;
  padding-left: 3.6rem;
  padding-right: 3.6rem;
  font-family: 'Palanquin';
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5rem;

  display: flex;
  align-items: center;
  text-align: center;
}

/*
--- Transições ------

transition: transform 200ms 1s;

*/
.images {
  display: flex;
  justify-content: flex-end;

  position: relative;

  margin: 6.3rem 3.2rem;
  border-radius: 2rem;
  object-fit: cover;
  border: 1px solid red;

  transition: all 400ms ease;
}

.images:hover {
  transform: scale(1.1);
  opacity: 0.9;
}
.img-ice-cream {
  display: inline-block;
}
.img-ice-cream h3 {
  color: hsla(232, 17%, 35%, 1);

  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  display: flex;
  justify-content: center;

  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  background-color: hsla(312, 91%, 96%, 1);

  width: 11.2rem;
  height: 3.5rem;

  border-radius: 2rem;
  cursor: pointer;
}

/*---- regras de animações AT-RULES ----
at-rules:Keyframes,media

keyframes= pontos chaves na aplicação
*/

/*  animation-name: topdown;
  animation-duration: 700ms;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
*/

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes downtop {
  100% {
    opacity: 1;
    transform: translateY(15px);
  }
}
@media (min-width: 600px) {
  .page {
    max-width: 1280px;
    width: 100%;
  }
  .title h1 {
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 3.4rem;
  }

}